

/* ========================= Layout =======================*/


html, body, .head{
	height: 100%;
	text-decoration:none;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;

}

body {
	position: relative;
	overflow-x: hidden; /*excluir a barra de navegação em x*/
}


/* ------- Barra de Navegação  ------------ */



#navbar {
	background-color: rgba(255,255,255,0.8);
	position: fixed;
	top: -60px;
	width: 100%;
	display: block;
	transition: top 0.5s;
	z-index: 30;
	border-radius: 2px;
}

#navbar a {
  float: left;
  display: block;
  color: #424242;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;

}

.textonavegacao li a{
	color:#787777;
	margin:0px 20px 0px 20px;
	font-size: 19px;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	display:block;
	padding: 15px;
	font-weight: 800;
	position: relative;
  
}

.textonavegacao li a,
.textonavegacao li a::after{
	transition: all 0.5s;
	-webkit-transition: 0.5s; */ /* Safari prior 6.1 */

}


.textonavegacao li a::after{
position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #f7a2a6;
  height: 2px;

}

.textonavegacao li a:hover::after{
	width: 100%;
}




.textonavegacao li a:hover{
	-webkit-transition: 0.8s; /* Safari prior 6.1 */
  	transition: 0.8s;
  	color:#f7a2a6;

}



.textonavegacao li a::before{
	content: "";
	transition: all 0.7s ease-in-out;
	position: absolute;
	right: 80%;
	left: 80%;
	bottom: 0;
	height: 3px;
	background-color: #f7a2a6;

}



.minha_brand {
	display: block;
	font-family: 'chap-medium';
	font-size: 35px;
	color:#f7a2a6;
}




/* ---------------- HOME  ------------ */

.home{
	display: table;
	width: 100%;
	color:#232227;
	padding: 95px 0px 50px 0px;
	text-align: right;
	
}

.img-home{
	z-index: 0;
}


.texto-capa{
	display: table-cell;
	text-align: right;
}

.home h1{
	letter-spacing: 2px;
	font-family: 'chap-medium';
	color:#f7a2a6;
	text-align: right;

	
}

.home h2{
	letter-spacing: 2px;
	font-family: 'Open Sans', sans-serif;
	color:#424242;
	text-align: right;
}

.animation2{
	position: absolute;
	left:-20%;
	bottom: -16%;
	animation: animateblue 80s linear infinite;
	height: 25%;
	width: 100%;
	z-index: -1;

}


.animation3{
	position: absolute;
	left:-30%;
	bottom: -20%;
	animation: animatecircle 60s linear infinite;
}

.animation3 img{
	height: 45%;
	width: 45%;
}





@keyframes animateblue{
	0%{
		transform: translateX(0px);
	}


	50%{
		transform: translateX(250px);
		
	}

	100%{
		transform: translateX(0px);
		
	}
}


@keyframes animatecircle{
	0%{
		transform: translateY(0px) rotate(0deg);
	}


	50%{
		transform: translateY(0px) rotate(40deg);
		
	}

	100%{
		transform: translateY(0px) rotate(0deg);
		
	}
}


@media screen and (max-width: 767px) {

	.texto-capa{
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.img-home{
		max-width:60%;
		height:auto;
	}

	.home{
		padding: 50px 0px 50px 0px;
	}

	.home h1{
		font-size: 45px;
	}

	.home h2{
		font-size: 15px;
		line-height: 150%;
	}

}

@media screen and (min-width: 768px) {

	.texto-capa{
		padding-top: 50px;
	}

	.img-home{
		max-width:100%;
		height:auto;
		padding-top: 10px;
	}

	.home{
		padding: 50px 0px 50px 0px;
	}

	.home h1{
	font-size: 73px;
	}

	.home h2{
		font-size: 19px;
		line-height: 150%;
	}

}







/*--------------------ABOUT-----------*/

.courses{
	background-color: #00276d;
	padding: 50px 0px 50px 0px;
	
}

.imgabout1{
	/*display: relative;*/
	margin-bottom: 50px;
	-webkit-animation-name: imgabout1;
	 -webkit-animation-duration: 3s;
	animation-delay: 1.5s;
    animation-name: imgabout1;
    animation-duration: 3s;
    transition-timing-function: ease-in-out;
	
}


@-webkit-keyframes imgabout1{
	to  {left:0px;}
	from   {left:300px;}
 
}

@keyframes imgabout1 {
 	to  {left:0px;}
	from   {left:300px;}

}

.textoabout{
	text-align: left;
}


.textoabout h1 {
	display: block;
	color:#f7a2a6;
	font-family: 'chap-medium';
	padding: 30px 0px 30px 0px;
}

.textoabout h2{
	font-family: 'Open Sans', sans-serif;
	line-height: 150%;
	color:#ffff;
}

.textoabout h2>span {
	font-family: 'Open Sans', sans-serif;
	color:#f7a2a6;
}

.textoabout p{
	font-family: 'Open Sans', sans-serif;
	line-height: 150%;
	font-size: 19px;
	color:#ffff;
	padding-bottom: 20px;
	
}

.textoabout p>a{
	text-decoration: none;
	color:#f7a2a6;

}

.textoabout h3{
	font-family: 'Open Sans', sans-serif;
	line-height: 150%;
	font-size: 19px;
	color:#f7a2a6;
	text-transform: uppercase;
}

@media screen and (min-width: 768px) {

	.textoabout h1 {
		font-size: 48px;
	}

	.textoabout h2{
		font-size: 19px;
	}

	.textoabout h2>span {
		font-size: 19px;
	}

	.textoabout p{
		font-size: 19px;
	}

	.imagem{
		max-width: 120%;
		height: auto;
	}
}

@media screen and (max-width: 767px) {

	.textoabout h1 {
		font-size: 35px;
	}

	.textoabout h2{
		font-size: 15px;
	}

	.textoabout h2>span {
		font-size: 15px;
	}

	.textoabout p{
		font-size: 15px;
	}

	.imagem{
		max-width: 60%;
		height: auto;
	}
}


/*-------------PORTIFOLIO---------------*/

.phasselus{
  display: block;
  width: 100%;
  height: auto;
  margin: 50px 0px;
  z-index: 0;

}

.overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 15px;
  right: 80px;
  height: 75%;
  width: 93%;
  opacity: 0;
  transition: 1s ease;
  background-color: rgba(0,0,0,0.9);
  margin: 50px 0px;
}

.overlay:hover {
  opacity: 1;
}

.text {
  text-transform: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.text a{
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
	color: white;
}

.text a:hover{
	color:#f7a2a6;
	text-transform: none;
}


/*--------------------FAQ-----------*/

.faq{
	background-color: white;
	padding: 50px 0px 70px 0px;
	z-index: 0;
}


.faq h2{
	color:#f7a2a6;
	font-family: 'chap-medium';
	font-size: 30px;
	text-decoration: none;
	text-align: left;
	z-index: 1;
}

.faq p{
	font-family: 'Open Sans', sans-serif;
	color:#424242;
	line-height: 150%;
	font-size: 16px;
	z-index: 1;
}

.faq img{
	text-decoration: none;
	color:#f7a2a6;
	z-index: 1;
}

.link-faq{
	text-decoration: none;
	color:#f7a2a6;
	z-index: 1;
	
}

.btn_plus {
	color:#424242;
	font-size: 16px;
	text-decoration: none;
	z-index: 1;

}


.animation4{
	position: absolute;
	left: -10%;
	bottom: -332%;
	animation: animatewhite 30s linear infinite;
	height: 25%;
	width: 100%;
	z-index: 0;

}


@keyframes animatewhite{
	0%{
		transform: translateX(0px);
	}


	50%{
		transform: translateX(100px);
		
	}

	100%{
		transform: translateX(0px);
		
	}
}




/*------------PORTIFOLIO*/

.portifolio{
	background-image: url("imagens/background.png");
	background-size: cover;
}




/*--------------------CONTACT ME-----------*/



.contactme{
	background-color: rgba(3,41,115,1);
	text-align: center;
	text-decoration: none;
	color:rgb(11,224,176);
	z-index: -2;
	
}

.texto-contactme>h1{
	color:white;
	font-family: 'chap-medium';
	z-index: 0;
}


.texto-contactme>a {
	text-decoration: none;
	color:#f7a2a6;
	z-index: 0;

}

.texto-contactme>h3{
	color:white;
	font-family: 'chap-medium';
	z-index: 0;

}

.texto-contactme>p{
	color:white;
	font-weight: normal;
	font-family: 'Open Sans', sans-serif;
	z-index: 0;
}


.socialmedia>h4{
	display: inline-block;
	margin: 0px 20px 20px 20px;
	text-decoration: none;
	color:#f7a2a6;
	font-size: 40px;
	z-index: 0;
}

.btn_site{
	background: rgb(3,41,115);
	color:#f7a2a6;
	font-family: 'Open Sans', sans-serif;
	transition-duration: 0.5s;
	z-index: 0;
}

.btn_site:hover{
	background: rgb(3,41,115);
	color:#f7a2a6;
	font-family: 'Open Sans', sans-serif;
	transition-duration: 0.5s;
	z-index: 0;
}




@media screen and (max-width: 767px) {

	.contactme{
	padding: 65px 0px 50px 0px;
	text-decoration: none;
	margin-top: 30px;	
	}

	.texto-contactme>h1{
		font-size: 35px;
		margin-top: 30px;
	}


	.texto-contactme>a {
		font-size: 12px;

	}

	.texto-contactme>h3{
		font-size: 40px;
		margin-top: 10px;
		margin-bottom: 20px;

	}

	.texto-contactme>p{
		font-size: 15px;
		margin-block-start: 1em;
	    margin-block-end: 1em;
	    margin-inline-start: 0px;
	    margin-inline-end: 0px;
	}


	.socialmedia>a{
		margin: 0px 20px 20px 20px;
		font-size: 35px;
		
	}


}


@media screen and (min-width: 768px) {
	.contactme{
		padding: 50px 0px 50px 0px;
		text-decoration: none;
	}

	.texto-contactme>h1{
		font-size: 49px;
	}


	.texto-contactme>a {
		text-decoration: none;
		font-size: 16px;

	}

	.texto-contactme>h3{
		font-size: 40px;
		margin-top: 10px;
		margin-bottom: 30px;

	}

	.texto-contactme>p{
		font-size: 18px;
		font-weight: normal;
		margin-block-start: 1em;
	    margin-block-end: 1em;
	    margin-inline-start: 0px;
	    margin-inline-end: 0px;
	}


	.socialmedia>a{
		display: inline-block;
		margin: 0px 20px 20px 20px;
		text-decoration: none;
		font-size: 40px;
		
	}


}






/*---------------BTN SCROLL ------------*/







